.footer-wrapper {
  height: 90px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 6px 20px;

  .info-box {
    height: 80px;
    .questions {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      .question-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: var(--secondary-bg-color);
        border: 1px solid var(--secondary-color);
        cursor: pointer;
        transition: all 0.3s;

        &.active {
          background-color: var(--primary-bg-color);
          border: 1px solid var(--primary-color);
        }

        &:hover {
          background-color: var(--primary-bg-color);
        }
      }
    }
  }
  .action-box {
    display: flex;
    align-items: stretch;
    gap: 10px;
    justify-content: flex-end;

    .constructor-box {
      display: flex;
      flex-direction: column;
      height: 100%;

      .levels {
        padding: 6px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: var(--secondary-bg-color);

        .active {
          background-color: var(--secondary-bg-color);
        }
      }
      .skills {
        display: flex;
        align-items: end;

        .active {
          height: 35px;
          background-color: var(--secondary-bg-color);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      .constructor-item {
        height: 30px;
        border: 1px solid #e0e0e0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        background-color: var(--primary-bg-color);
        user-select: none;
        transition: all 0.3s;

        &:hover {
          background-color: var(--secondary-bg-color);
        }

        &:active {
          background-color: var(--primary-bg-color);
        }
      }
      .constructor-item + .constructor-item {
        margin-left: 10px;
      }
    }
    .send-box {
      .send-button {
        height: 100%;
        min-width: 110px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        border-radius: 6px;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0 10px;
        background-color: var(--primary-color);
        color: white;
        transition: all 0.2s;

        &:hover {
          background-color: var(--secondary-color);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
