.user-contact-wrapper {
  .banner {
    height: 300px;
    background-image: url("/contact-banner.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 15px 15px 3px;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(157, 243, 125);
      background: linear-gradient(126deg, rgb(109 148 95) 0%, rgb(87 104 94 / 62%) 45%, rgb(44 45 44 / 33%) 100%);
    }
  }
}

.about-box {
  font-size: 18px;
  padding: 0 20px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 40px;
  .text {
    margin-bottom: 10px;
    text-align: justify;
  }
  .list-text {
    margin-bottom: 10px;
  }
  .list-header {
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .list-box {
    margin-left: 20px;
    .list-item {
      margin-bottom: 8px;
      text-align: justify;
      font-style: italic;
    }
    .list-item-title {
      font-weight: 600;
      margin-right: 8px;
      font-style: normal;
    }
  }
}
.about-image {
  width: 100%;
  display: flex;
  justify-content: center;
  .image {
    max-width: 350px;
    width: 100%;
  }
}

.contact-box {
  .contact-info-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .contact-info {
    width: 100%;
    max-width: 450px;
    min-height: 400px;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    .contact-img-left {
      background-image: url("/contact-3.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -30px;
      left: -30px;
      rotate: -30deg;
    }
    .contact-img-right {
      background-image: url("/contact-3.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -30px;
      right: -30px;
      rotate: 30deg;
    }
    .contact-info-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-weight: 500;
      border-bottom: 1px solid #ccc;
      color: var(--secondary-color);
      text-transform: uppercase;
      font-size: 18px;
    }
    .contact-list {
      padding: 10px;
      margin-top: 20px;
      padding-bottom: 0;
    }
    .contact-item {
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 3px 3px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .contact-item-avatar {
      border-right: 1px solid #ccc;
      width: 90px;
      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    .contact-item-info {
      padding-left: 10px;
      flex: 1;
      .contact-info-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        .contact-info-title {
          font-weight: 600;
          margin-right: 5px;
          display: inline-block;
        }
      }
    }
  }
  .contact-form {
    width: 100%;
    max-width: 450px;
    min-height: 400px;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    .contact-info-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-weight: 500;
      color: var(--secondary-color);
      text-transform: uppercase;
      font-size: 18px;
    }
    .contact-form-bg-1 {
      background-image: url("/contact-4.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      aspect-ratio: 7/2;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .contact-img-left {
      background-image: url("/contact-1.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0px;
      left: 0px;
      rotate: 0deg;
      z-index: 2;
    }
    .contact-img-right {
      background-image: url("/contact-2.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 2;
      rotate: 0deg;
    }
    .contact-img-center {
      background-image: url("/contact-6.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: -40px;
      right: 50%;
      transform: translateX(50%);
      z-index: 2;
    }
    .contact-form-box {
      padding: 10px;
      padding-top: 160px;
    }
  }
}
