.create-question-wrapper {
  .upload-question {
    width: 100%;
    max-width: 450px;
  }
}
.question-item-wrapper {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  margin-top: 20px;
  &.question-error {
    border-color: red;
    .question-header {
      border-color: red;
    }
  }
  .question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
    .question-title {
      font-weight: 500;
    }
    .action-box {
      display: flex;
      align-items: center;
      gap: 20px;
      .error {
        color: red;
        font-size: 12px;
      }
      .question-status {
        width: 100px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
        border: 1px solid var(--primary-color);
        padding: 3px 5px;
        border-radius: 100px;
        user-select: none;
      }
      .action {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .question-body {
    padding: 10px;
    max-height: 400px;
    .file-audio {
      min-width: 50%;
      margin-bottom: 10px;
    }
  }
}
